{% load static %}


<section class="grid gap-8 items-center bg-gradient-to-b from-white to-slate-50 px-20 py-12 lg:grid-cols-[1.1fr_1fr] lg:gap-16">
    <div class="max-w-2xl">
        <span class="inline-flex items-center gap-2 font-bold tracking-wider uppercase text-sm text-blue-700 bg-blue-100 px-3 py-1 rounded-full">
            ¿Querés crecer?
        </span>
        <h2 class="mt-3 mb-3 font-extrabold leading-tight text-3xl lg:text-5xl">
            Sumá la experiencia de Monitoreo Deportivo a tu cancha o club
        </h2>
        <p class="text-slate-800 text-lg leading-relaxed mb-4">
            Dale a tus jugadores y jugadoras una manera simple de revivir sus mejores jugadas y analizar sus partidos. Hacé que tu club se destaque con una herramienta que entusiasma a todos.
        </p>
        <ul class="list-disc pl-5 space-y-1 text-slate-800 mb-6">
            <li>Repeticiones y momentos clave al instante.</li>
            <li>Fácil de implementar, sin dolores de cabeza.</li>
        </ul>

        <a href="" class="inline-flex w-80 items-center justify-center gap-2 rounded-2xl bg-blue-400 px-6 py-3 text-sm font-extrabold uppercase tracking-wide text-black shadow-sm shadow-blue-500/30 transition hover:bg-blue-500 focus:outline-none cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 5v14M5 12h14" />
            </svg>
            Quiero más información
        </a>

        <p class="text-slate-500 text-sm mt-2">
            Implementación guiada y soporte en español.
        </p>
    </div>

    <div class="relative overflow-hidden shadow-sm min-h-[280px]">
        <img src="https://res.cloudinary.com/dbmamjgiv/image/upload/v1755099030/pexels-pnw-prod-8980131_rd9gwl.webp" alt="Sports example image" class="w-full h-full object-cover" />
    </div>
</section>
